<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue training</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <div>
            <label for="tareas">Tareas</label>
            <input type="text" id="tarea" v-model="valor">
            <button v-on:click="agregarTarea">Agregar tarea</button>
        </div>
        <ul>
            <li v-for="tarea in tareas">{{ tarea }}</li>
        </ul>
    </div>
    <script src="app-vuejs.js"></script>
</body>

</html>